apiVersion: apps/v1
kind: Deployment
metadata:
  name: dustin
spec:
  selector:
    matchLabels:
      app: dustin
  replicas: 2
  template:
    metadata:
      labels:
        app: dustin
    spec:
      containers:
        - name: dustin
          image: bharath07/dustin
          imagePullPolicy: IfNotPresent
          ports:
            - containerPort: 8080
---

apiVersion: v1
kind: Service
metadata: 
  name: dustinsvc
spec:
  selector:
    app: dustin
  ports:
    - protocol: "TCP"
      port: 8080
      targetPort: 8080
  type: NodePort